[ng-mouseover] {
  cursor: pointer;
}

.note-container {
  width: 25%;
  min-height: 500px;
  padding: 20px;
  float: left;
}

.note {
  padding: 5px 10px;
}

.note.footer {
  float: right;
  color: #8C3644;
  font-style: italic;
}

.little-note {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  background-color: #fff;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  width: 200px;
  height: 200px;
}

.edit-in-place.active input {
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}