@()(implicit messages: Messages)

<div class="container">
  <div class="row">
    <div class="big-center-form panel">
      <div class="panel-body" ng-controller="BoardCtrl">

        <div ng-repeat="sticky in stickies" dragula='"bag-one"' dragula-scope='$parent'>
          <div class="little-note">
            <div class="col-md-12">
              <div class="row">
                <p class="col-md-4"><b>{{sticky.name}}</b></p>
                <p class="col-md-8"><i>{{sticky.creationTime.time}}</i></p>
              </div>
              <div class="row">
                <p class="col-md-10">{{sticky.content}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>