@()(implicit messages: Messages)

<div class="container">
  <div class="row">
    <div class="center-form panel">
      <div class="panel-body">
        
        <div class="row" ng-controller="HomeCtrl" ng-init="init()">
          <hr class="col-md-12" />
          <h4 class="col-md-8">@Messages("welcome.signed.in")</h4>
          <hr class="col-md-12" />
        </div>
        <div class="row data">
          <div class="col-md-12">
            <div class="row">
              <p class="col-md-6"><strong>@Messages("username"):</strong></p><p class="col-md-6">{{user.username ? user.username : 'None'}}</p>
            </div>
            <div class="row">
              <p class="col-md-6"><strong>@Messages("email"):</strong></p><p class="col-md-6">{{user.email ? user.email : 'None'}}</p>
            </div>
            <div class="row">
              <p class="col-md-6"><strong>@Messages("user.id"):</strong></p><p class="col-md-6">{{user.id}}</p>
            </div>
            <div class="row">
              <p class="col-md-6"><strong>@Messages("categories"):</strong></p><p class="col-md-6">{{categories}}</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>